


body{
background-color: #00a388;

}

#wrapper {
max-width: 100%;
margin:0 auto;

}

header {
}


div {
	float: left;
}

.box{
	width:20px;
	height:20px;
	-webkit-animation-name: coloranim;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction:alternate;
    -webkit-animation-timing-function: ease-in-out;
}
 
.red{
	background:#00a388;
}
.green{
	background:#00a388;
}
.blue{
	background:#00a388;
}

.yellow {
  	background-color: #00a388;
  	
  }

.blue:hover { 
   -webkit-animation-name:none; 
  }

 .green:hover { 
    -webkit-animation-name:none; 
  }

 .red:hover { 
      -webkit-animation-name:none; 
  }

.yellow:hover { 
    background-color:blue; 
  }

@-webkit-keyframes coloranim {
    0% {
      background-color:#ff6138;
    }
    25% {
      background-color:#ffff9d;
    }
      
      50% {
      background-color:#beeb9f;
       }
    
      75% {
      background-color:#79bd8f;
    }
    100% {
      background-color:#00a388;
    }
  }

  #box:hover { 
    -webkit-animation-name:none;
  }